<div class="container demo">
  <h2 class="border-bottom mb-3 ng-binding pb-2 text-center">Post List</h2>
  <div class="row">
    <div *ngFor="let part of posting.data" class="col-4 padB-15" routerLink="/post/{{part.id}}">
        <div class="border">            
        <div class="img-full"><img [src]="part.image" alt="" /> </div>
        <div class="desc">          
        <div class="title"><b>{{part.title}}</b></div>
        <div class="capt">
            <div class="autor d-flex">
                <i class="fa fa-user"></i>
                <div class="d-blok">
                    <div class="bold">{{ part.author }}</div>
                    <div>{{ part.date }}</div>
                </div>
                <i class="fa fa-share"></i>
            </div>
        </div>
        </div>
        </div>
    </div>
  </div>
</div>
